.categories {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 50px;
}
.categories div {
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 70px 100px;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    cursor: pointer;
    box-shadow: 0 1px 5px 3px rgba(144, 144, 144, 0.525);
    transition: all 0.2s ease-in-out;
}
.categories h2 {
    color: white;
}
.categories div:hover {
    transform: scale(1.1);
}
.title {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    font-size: 20px;
    padding: 10px 0;
}