body {
  display: flex;
  align-items: center;
}

.links,
.start-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.high-score-table table {
  border-collapse: collapse;
  width: 100%;
  color: white; /* Assuming the table text color should be white */
}

.high-score-table th,
.high-score-table td {
  border: 1px solid white; /* White border for table cells */
  padding: 28px 100px;
  font-size: 20px;
  text-align: left;
}

.high-score-table th {
  background-color: #333; /* Dark background for headers */
}

.high-score-table tr:nth-child(even) {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Glassmorphism effect for even rows */
}
